<div class="row">
  <div ng-include src="'views/partials/messages.html'" ng-controller="MessagesCtrl"></div>
</div>
<div class="row welcome">
  <h1>Hello!</h1>
</div>
<div class="row">
  <div ng-controller="LoginCtrl">
    <div class="well">
      <h2>Please Log In or Sign Up</h2>
      <form name="loginForm" class="form-inline" role="form">
        <div class="form-group">
          <input type="text" class="form-control" ng-model="user.email" placeholder="Email" required /><br/>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" ng-model="user.password" placeholder="Password" required /><br/>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="user.username" placeholder="Username" /><br/>
        </div>
        <button ng-click="login(user)" class="btn btn-default">Log In</button>
        <button ng-click="signup(user)" class="btn btn-default">Sign Up</button>
      </form>
    </div>
  </div>
</div>
